.chat-container {
  width: 500px;
  height: 700px;
  display: flex;
  flex-direction: column;
  background-color: var(--color-white);
  color: var(--color-black);
  border-radius: 12px;
  box-shadow: var(--shadow-sm);
}

@media (max-width: 600px) {
  .chat-container {
    height: 100vh;
    width: 100vw;
  }
}
